@import './variables.less';


ul {
    margin-top: 9px;
    padding-left: 0;
    list-style:  none;
}

li {
    margin-top: 5px;
}

.addressCard {
    margin-bottom: 20px;
    background: #ffd280;
    padding: 5px;
}

html {
    background: #eaeaea;
}

.adressInfo span {
    display: block;
}

ul.commentBody {
    margin-left:  5px;
    background: #f09f7d;
    padding: 5px;
}

.addComment {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
}

.addComment input {
    width: 100%;
    margin-right: 5px;
}

.body .body > button {
    margin-left: calc(100% - 100px);
}

.body .body > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 10px;
}


.body .body > div > input {
    width: 100%;
    margin-right: 5px;
    height: 20px;
}

.address {
    flex-wrap:  wrap;
}

.address > div {
    margin-right:  20px;
}